################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PuntoVentaVenecia/FileContentIndex/397fa746-bcd1-4f8b-8063-d73266742afa.vsidx
/SistemaVenta-Venecia/.vs/SistemaVenta-Venecia/FileContentIndex/0fe76ef8-eebb-48e8-947d-1c6500c073b3.vsidx
/.vs/PuntoVentaVenecia/FileContentIndex/52039871-e75d-4f9d-a6e0-7b7d0c4f073f.vsidx
/SistemaVenta-Venecia/.vs/SistemaVenta-Venecia/v17/.suo
/SistemaVenta-Venecia/.vs/SistemaVenta-Venecia/FileContentIndex
