################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PuntoVentaVenecia/FileContentIndex/397fa746-bcd1-4f8b-8063-d73266742afa.vsidx
