################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PuntoVentaVenecia/FileContentIndex/397fa746-bcd1-4f8b-8063-d73266742afa.vsidx
/SistemaVenta-Venecia/.vs/SistemaVenta-Venecia/FileContentIndex/0fe76ef8-eebb-48e8-947d-1c6500c073b3.vsidx
